/* Container styles */
.file-uploader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Arial", sans-serif;
  display: flex;
  align-items: center;
  justify-items: center;
  height: 90vh;

  /* background-color: #f8f5fa;
  color: #4b4453; */
}

/* Dropzone styles */
.dropzone {
  width: 100%;
  max-width: 800px;
  height: 200px;
  border: 2px dashed #a084ca; /* Pastel purple border */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff; /* White background for dropzone */
  transition: border-color 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.dropzone.active {
  border-color: #8675a9; /* Darker pastel purple */
  background-color: #f8f5fa;
}

.dropzone p {
  margin: 0;
  font-size: 1rem;
  color: #4b4453; /* Neutral text color */
}

/* File list styles */
.file-list {
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
}

.file-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.file-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 15px 20px;
  border: 1px solid #e3dced; /* Light purple border */
  border-radius: 10px;
  background-color: #ffffff; /* White background for file items */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: fade-in-up 0.5s ease-out;
}

.file-item:hover {
  background-color: #f1f1f1;
}

.file-info {
  display: flex;
  align-items: center;
}

.file-info span {
  margin-left: 10px;
  color: #4b4453; /* Neutral text */
  font-size: 0.9rem;
}

.file-size {
  margin-left: 10px;
  font-size: 0.8rem;
  color: #888;
}

.file-icon {
  font-size: 1.5rem;
  color: #a084ca; /* Soft purple */
}

.remove-icon {
  font-size: 1.2rem;
  color: #dc3545; /* Red for delete */
  cursor: pointer;
  transition: color 0.3s ease;
}

.remove-icon:hover {
  color: #a71d2a;
}

.loading-line {
  position: relative;
  height: 4px;
  background: linear-gradient(90deg, #4caf50, #2196f3);
  background-size: 200% 100%;
  animation: loadingAnimation 2s infinite;
  margin-bottom: 10px; /* Space above the button */
  border-radius: 2px;
}

@keyframes loadingAnimation {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
